.mars-container {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 80vw;
    padding: 1em;
    gap: 1em;
    overflow: hidden;

}

.mars-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 1em;
}


.mars-visual {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: url('/Images/mars2.png');
    background-size: cover;
    background-position: 90%;
    justify-content: center;
}

.mars-header {
    display: flex;
    align-items: end;
    background-image: url('/Images/grid.png');
    background-size: cover;
    padding: 0.5em;
    height: 10vh;
    border-bottom: 1px solid white;
}

.mars-header h2 {
    font-size: 5em;
    font-weight: 200;
    color: white;
    background: rgba(0, 0, 0, 0.527);
    text-shadow: 5px 5px 20px black;
    margin: 0;
}

.mars-art {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.mars-art img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mars-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

/* RIGHT SIDE */
.mars-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    overflow: hidden;
}

.mars-title {
    position: relative;
    padding: 1em;
    border-bottom: 1px solid white;
    background: rgba(0,0,0,0.2);
}

.mars-title h2 {
    font-size: 3.8em;
    font-weight: 200;
    color: white;
    text-shadow: 5px 5px 20px black;
    margin: 0;
    padding: 0;
}

.mars-title p {
    color: var(--color4);
    letter-spacing: 0.3em;
}

.sol-deco {
    color: white;
    font-size: large;
    font-weight:900;
    letter-spacing: 1px;
}

/* DATA GRID */
.mars-data {
    margin-top: 2em;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    overflow-y: auto;
    background: rgba(0,0,0,0.15);
    backdrop-filter: blur(6px);
}

.data-card {
    background-image: url('/Images/line-texture.jpg');
    background-size: cover;
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 0.5em;
    padding: 1em;
    position: relative;
    overflow: hidden;
    font-family: "Geo", monospace;
    opacity: 0;
    width: 80%;
    transform: translateX(60px) scale(0.9);
    animation: fadeIn 0.6s ease-in forwards;
  
}


.data-card:nth-child(1) {
    animation-delay: 0.2s;
}

.data-card:nth-child(2) {
    animation-delay: 0.4s;
}

.data-card:nth-child(3) {
    animation-delay: 0.6s;
}


.data-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(19, 2, 0, 0.849);
}

.data-card h3 {
    position: relative;
    font-size: 1.5em;
    color: white;
    letter-spacing: 1px;
    margin: 0 0 0.5em;
}

.data-card p {
    position: relative;
    color: var(--color5);
    font-size: 1.3em;
    margin: 0;
}


@keyframes fadeIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }


    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media screen and (max-width: 1536px) {

    .mars-header {
        align-items: start;
        flex-wrap: wrap;
        height: 35vh;
    }

    .mars-header h2 {
        font-size: 4em;
    }

    .mars-title h2 {
        font-size: 3em;
    }

    .mars-scroll{
        display: flex;
        flex-direction: column;
        gap: 1em;
       
    }

}

@media screen and (max-width: 1285px) {
        .mars-data {
        position: relative;
        margin-top: 1em;
        height: 20vh;
        background: none;
        backdrop-filter: none;
        overflow: hidden;
    }



    .mars-scroll{
        display: flex;
        flex-direction: column;
        gap: 1em;
        transition: transform 8s linear;
        will-change: transform;
    }

    .mars-data:hover  .mars-scroll {
        transform: translateY(-200px)
    }

}

@media screen and (max-width: 768px){

.mars-visual,
.mars-info,
.mars-title,
.mars-data {
    width: 100%;
}
 

.mars-title,
.mars-data {
    padding-left: 1em;
    padding-right: 1em;
}



.mars-container {
        background-image: url('/Images/mars2.png');
        background-repeat: no-repeat;
        background-position: 100% 100%;
        margin-top: 1em;
        height: 80vh;
        padding: 0;
        border-radius: 0.3em;
        border: 1px solid white;
    }

    .mars-content {
        flex-direction: column;
        gap: 0;
        
    }

    .mars-visual {
        flex: 1;
        padding: 0.5em;
        margin-top: 2em;
        align-items: end;
        justify-content: end;
        background: none;
    }

    .mars-header {
        width: 100%;
        background-size: cover;
        margin-top: 2.2em;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 20vh;
        background-repeat: repeat-y;
        background-position: 100% 100%;
    }

    .mars-header h2 {
        padding-bottom: 1em;
        background: none;
    }
  
    .mars-title {
         align-items: center;
        justify-content: center;
        text-align: center;
    }

    .mars-info {
        flex: 2;
    }
}

@media screen and (max-width: 480px){
    .mars-container {
        width: 93vw;
        height: 100vh;
        overflow-y: auto;
    }

    .mars-visual{
        margin: 0;
    }

    .mars-header {
        height: 35vh;   
        position: relative;    
    }

    .mars-header::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(14, 0, 0, 0.664);
        
    }


    .mars-header h2 {
        font-size: 3em;
        z-index: 2;
    }

    .mars-title h2 {
        font-size: 1.5em;
    }

    .mars-scroll{
        display: flex;
        flex-direction: column;
        gap: 1em;
        transition: none;
        
    }

    .mars-data:hover  .mars-scroll {
        transform: none;
    }
}