h2 {
    font-size: 2.5em;
    font-weight: 200;
}

.donki-container {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.donki-left-side {
    flex: 1;
    height: 80%;
    min-width: 30%;
    max-width: 30%;
}

.donki-right-side {
    flex: 2; 
    height: 80%;
    padding: 1em;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donki-rs-wrapper {
    position: relative;
    background: url('/Images/line-texture.jpg');
    background-size: cover;
    width: 40vw;
    height: 50vh;
    border: 2px solid white;
    overflow: hidden;
    animation: slideInWindow 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes slideInWindow {
    0% {
        transform: translateX(-100%) scale(0.4);
        opacity: 0;
    }
    60% {
        transform: translateX(10px) scale(0.5);
        opacity: 1;
    }
    100% {
        transform: translateX(0) scale(1);
    }
}

.donki-title2-container,
.donki-rs-content {
    position: relative;
    z-index: 1;
    color: white;
}

.donki-rs-content {
    position: absolute;
    overflow-y: auto;
    height: 95%;
    margin-top: 2em;
}

.donki-rs-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.9); 
    backdrop-filter: saturate(0.8); 
    z-index: 0;
}

.donki-title2-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2em;
    border-bottom: 1px solid white;
    background: rgb(230, 218, 218);
    align-items: center;
    padding-left: 0.3em;
    z-index: 3;
}

.donki-title2-container h2 {
    font-size: 1.3em;
    font-family: "Geo", monospace;
    font-weight: bold;
    margin: 0;
    color: black;
}

.donki-text h2{
    margin: 0;
    padding: 0;
    font-size: 4em;
}

.donki-text p {
    margin: 0;
    padding-bottom: 1em;
}

.donki-links-container {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    gap: 1em;
    padding: 0.5em;
    max-width: 90%;
    border-radius: 0.3em;
    background-image: url('/Images/grid.png');
    background-size: cover;
}

.donki-links-container a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: clamp(0.8rem, 1.5vw, 1.2em);
    text-shadow: 5px 25px 50px black;
    transition: 0.2s ease-in;
}

.donki-links-container a:hover {
    color: rgba(255, 255, 255, 0.747);
}

.donki-links-container a:active{
    font-weight: bold;
}

.left-side-deco {
    height: 15vh;
}

.left-side-deco img {
    width: 70%;
    height: 100%;
    filter: invert(2) brightness(2);
}

@media (max-width: 768px) {

    .donki-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        height: 110vh;
        margin: 0;
        padding: 1em;
        overflow-y: auto;
    }

    .donki-left-side {
        position: absolute;
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .donki-right-side {
        position: absolute;
        top: 80%;
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 0;
        margin-top: 1em;
    }

    .donki-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    .donki-text {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .donki-text p {
        font-size: 1.2em;
    }

    .donki-text h2{
    margin: 0.3em;
    padding: 0;
    font-size: 4.5em;
    width: 70vw;
}

    .donki-rs-wrapper {
        min-width: 80vw;
        height: 50vh;
    }

    .donki-rs-content {
        position: relative;
        height: auto;
        overflow: visible;
    }

    .donki-links-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       min-width: 500px;
       max-width: 700px;
    }

    .donki-links-container a {
        font-size: 1.5em;
         transition: all 0.25s ease;
    }

    .left-side-deco {
        opacity: 0;
    }

    .back-to-top {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(23, 255, 112, 0.411);
        z-index: 55;
        font-size: 2em;
        padding: 0.2em;
        color: white;
        border: 1px solid white;
        position: fixed;
        bottom: 1em;
    }

    .donki-links-container a.active {
    color: rgba(255, 255, 255, 0.932);
    font-weight: bold;
    text-shadow: 0 0 10px rgb(134, 255, 134), 0 0 20px rgb(244, 255, 244);
    padding-left: 0.5em;
}
}

@media screen and (max-width: 480px){

    .donki-container {
        
        height: 100vh;
    }

 .donki-left-side{
    margin-top: 1em;
 }

 .donki-text {
    
    width: 80vw;
    
 }

 .donki-text h2 {
    margin: 0;
    font-size: 2.5em;
 }

 .donki-text p {
    font-size: 1em;
    color: rgb(0, 209, 108);
    text-align: center;
    
 }

 .donki-links-container a{
    font-size: 1em;
 }


}