:root {
    --background: rgb(251, 254, 255);
    --color1: rgb(5, 5, 5);
    --color2: #022F56;
    --color3: #488DB4;
    --color4: #85C4E4;
    --color5: #CCDEE4;
    --color6: #ecf6f9;
    --color7: #294933;
    --color8: #446B5C;
    --color9: #81EC86;
}



body {
      background: 
        linear-gradient(rgba(0, 0, 0, 0.967), rgba(0, 0, 0, 0.063)),
        url('Images/cyber2.jpg');
    background-size: cover;
    padding: 0;
    margin: auto;
    font-family: "Oxanium", monospace;
}

.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    width: 95vw;
    height: 85vh;
    
    border: 2px solid var(--color9);
    border-radius: 1em;
    background: var(--color1);
    overflow: hidden;
}
.galaxy-wrapper {
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    
}

.galaxy-links {
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}



.links-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--color1);
    gap: 2em;
    width: 100vw;
    border-top: 2px solid var(--color9);
    border-left: 2px solid var(--color9);
    border-right: 2px solid var(--color9);
    border-radius: 0.4em;
    padding: 1em;
    z-index: 2;
   
}

.links-container a {
    text-decoration: none;
    font-size: 1.5em;
    
}

.links {
    display: flex;
    gap: 2em;
}

.home-text-container {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.title-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin-bottom: 2em;
    
}

.title-text {
    font-size: clamp(3rem, 12cqi, 14rem);
    color: var(--color6);
    text-shadow: 5px 5px 15px  blue;
    
}

.satellite-img-glitch {
    position: relative;
    z-index: 1;
    overflow: hidden;
}


.satellite-img {
    width: 20vw;
    height: auto;
    z-index: 1;
    opacity: 0.4;
    
}

.glitch-layers {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.glitch-layer {
    	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: url('/public/Images/floating-satellite.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.glitch-layer:nth-child(1) {
	transform: translateX(-5%);
	animation: glitch-anim-1 2s infinite linear alternate;
}
.glitch-layer:nth-child(2) {
	transform: translateX(3%) translateY(3%);
	animation: glitch-anim-2 2.3s -.8s infinite linear alternate;
}
.glitch-layer:nth-child(3) {
	transform: translateX(5%);
	animation: glitch-anim-flash 1s infinite linear;
}
@keyframes glitch-anim-1 {
	0% {
		clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0 50%);
	}
	10% {
		clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
	}
	20% {
		clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
	}
	30% {
		clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
	}
	40% {
		clip-path: polygon(0 35%, 100% 35%, 100% 35%, 0 35%);
	}
	50% {
		clip-path: polygon(0 45%, 100% 45%, 100% 46%, 0 46%);
	}
	60% {
		clip-path: polygon(0 50%, 100% 50%, 100% 70%, 0 70%);
	}
	70% {
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}
	80% {
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	90% {
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}
	100% {
		clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
	}
}
@keyframes glitch-anim-2 {
	0% {
		clip-path: polygon(0 15%, 100% 15%, 100% 30%, 0 30%);
	}
	15% {
		clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
	}
	25% {
		clip-path: polygon(0 8%, 100% 8%, 100% 20%, 0 20%);
	}
	30% {
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
	45% {
		clip-path: polygon(0 45%, 100% 45%, 100% 45%, 0 45%);
	}
	50% {
		clip-path: polygon(0 50%, 100% 50%, 100% 57%, 0 57%);
	}
	65% {
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
	75% {
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	80% {
		clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
	}
	95% {
		clip-path: polygon(0 45%, 100% 45%, 100% 60%, 0 60%);
	}
	100% {
		clip-path: polygon(0 11%, 100% 11%, 100% 15%, 0 15%);
	}
}
@keyframes glitch-anim-flash {
	0% {
		opacity: .2;
	}
	30%, 100% {
		opacity: 0;
	}
}

.svg2 {
    position: absolute;
    bottom: -8em;
    align-self: center;
    width: 110vw;
    filter: invert(1) brightness(2);
    opacity: 0.4;
        
}


