:root {
    --background: rgb(251, 254, 255);
    --color1: rgb(5, 5, 5);
    --color2: #022F56;
    --color3: #488DB4;
    --color4: #85C4E4;
    --color5: #CCDEE4;
    --color6: #ecf6f9;
    --color7: #294933;
    --color8: #446B5C;
    --color9: #81EC86;
}

body {
    background: black;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: "Oxanium", monospace;
    cursor: crosshair;
}

.home-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-grad-layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), black);
    z-index: 2;
}

.home-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;    
    width: 95vw;
    height: 95vh;
    border-radius: 0.3em;
    background-image: var(--color1);
    overflow: hidden;
    clip-path: polygon(0% 0, 93% 0, 100% 8%, 100% 90%, 80% 100%, 0% 100%, 0% 85%);
    z-index: 1;
}

.home-wrapper::before {
    position: absolute;
    content: "";
    inset: 0;
    background: var(--color5); 
    clip-path: polygon(
        0% 0, 93% 0, 100% 8%, 100% 90%,
        80% 100%, 0% 100%, 0% 85%
    );
    z-index: 0;
}

.home-wrapper::after {
    content: "";
    position: absolute;
    inset: 4px; 
    background-image: url('/public/Images/star-bg2.png');
    clip-path: polygon(
        0% 0, 93% 0, 100% 8%, 100% 90%,
        80% 100%, 0% 100%, 0% 85%
    );
    z-index: 1;
}

.home-wrapper > * {
    position: relative;
    z-index: 2;
}

.links-container {
    position: relative;
    top: 5%;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    gap: 3em;
    width: 90%;
    padding: 1.5em;
    z-index: 5;
}

.links-container a {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 200;
    padding-right: 1em;
    letter-spacing: 0.1em;
    transition: 0.3s ease-in;
    color: white;
    transition: 0.2s ease-in;
    text-shadow: rgb(0, 255, 115) 1px 0 5px;
}

.links-container a:hover {
    transform: scaleX(1.1);
    color: var(--color9);
    
}

.links-container a:focus {
    font-weight: bold;
}

.links {
    display: flex;
    gap: 2em;
}

.space-texture {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 0;
}

.home-text-container {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.title-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    margin-bottom: 2em;
    padding: 2em;
    line-height: 0.9;
    
}



.title-text1 {
    font-size: clamp(6rem, 12cqi, 19rem);
    color: var(--color5);
    animation: riseUp 1s ease-out forwards;
    font-weight: 500;   
    margin: 0;
    user-select: none;
}

.title-text2 {
    position: relative;
    font-size: clamp(6rem, 12cqi, 25rem);
    margin: 0;
    font-weight: 700;
    -webkit-text-stroke: 3px white;
    color: black;
    user-select: none;
    z-index: 1;
}

.title-text2::before {
    position: absolute;
    bottom: 0.1em;
    content: "";
    width: 100%;
    height: 20vh;

    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.041) 0%,
        rgba(0, 0, 0, 0.664) 15%,
        rgba(13, 51, 19, 0.425) 25%,
        rgba(47, 216, 151, 0.9) 40%,
        rgba(16, 65, 24, 0.459) 55%,
        rgba(0, 0, 0, 0.753) 85%,
        rgba(0, 0, 0, 0.021) 100%
    );

    -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
    );

    z-index: -1;
}

.title2-txt {
    color: white;
    min-width: 11vw;
    height: 4vh;
    padding: 0.1em;
    display: flex;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    letter-spacing: 0.2em;
}

.svg2 {
    position: absolute;
    bottom: -8em;
    width: 110%;
    filter: invert(1) brightness(2);
    opacity: 0.2;
}

.home-side-text-wrapper {
    position: absolute;
    right: -10em;
    top: 50%;
    transform: rotate(-90deg);
    display: flex;
    flex-direction: row;
    font-family: "Oxanium", monospace;
    font-size: 0.9rem;
    letter-spacing: 0.2em;
    color: #81EC86;
    z-index: 4;
    opacity: 0.3;
    pointer-events: none;
}


.cyber-line {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.cyber-line::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: #81EC86;
    opacity: 0.4;
    filter: blur(2px);
}


@keyframes scramble {
    0% { content: "0310KB"; }
    10% { content: "89A2KB"; }
    20% { content: "5521KB"; }
    30% { content: "77FFKB"; }
    40% { content: "1200KB"; }
    50% { content: "9999KB"; }
    60% { content: "42A1KB"; }
    70% { content: "0088KB"; }
    80% { content: "3001KB"; }
    90% { content: "0301KB"; }
    100% { content: "0300KB"; }
}


.cyber-line span::after {
    content: "00300KB";
    animation: scramble 1.2s steps(10) infinite;
    margin-left: 0.5em;
}

.bottom-chaos {
    position: relative;
    bottom: 0;
    left: 1em;
    align-self: flex-start;
    z-index: 2;
    width: 35%;
    height: 20%;
    font-family: "Geo";
    color: white;
    overflow: hidden;
}


.desc-banner {
    background: white;
    color: black;
    min-width: 25%;
    padding: 0.3em;
    font-size: 1.1em;
    letter-spacing: 1px;
    clip-path: polygon(
  100% 8%,
  0% 8%,
  0% 100%,
  86% 100%,
  100% 8%
);
}


.desc-section {
     display: flex;
    gap: 1rem;
    padding-top: 1em;
    flex-shrink: 1;
    min-width: 0; 
    overflow: hidden;
}

.desc-section p {
    margin: 0;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.barcode-png{
    width: 10em;
    height: 6em;
    z-index: 2;
    filter: invert(1) brightness(2) contrast(2);
    margin-left: -1em;
    padding: 0;   
}

.barcode-creds {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: start;
    margin-left: 0.1em;
}

.credits {
    position: relative;
    margin: 0;
    padding: 0;
}

.credits::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background: black;
    border: 1px solid white;
}

.credits p {
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 0.5em;
}

.hamburger {
    display: none;
}

@media (max-width: 900px) {

    .links-container {
        position: relative;
        top: 0;
        left: 0;
        border: none;
        display: flex;
        align-items: start;
        justify-content: start;
    }

    .hamburger {
        display: flex;
        position: absolute;
        width: 5em;
        height: 5em;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        z-index: 10;
        color: white;
    }

    .icon {
        position: absolute;
        width: 100%;
        height: 100%;
        color: white;
        transition: all 0.3s ease;
    }

    .menu-icon {
        opacity: 1;
        transform: rotate(0deg);
    }

    .close-icon {
        opacity: 0;
        transform: rotate(-90deg);
    }

    .links {
        position: fixed;
        top: 0;
        left: 0;
        height: 50%;
        width: 100%;
        background: black;
        border: 1px solid white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        gap: 2em;
        padding-left: 2em;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .links.show {
        transform: translateX(0);
        
    }

    .hamburger.open .menu-icon {
        opacity: 0;
        transform: rotate(90deg) scale(1.5);
    }

    .hamburger.open .close-icon {
        opacity: 1;
        transform: rotate(0deg);
    }

    .home-text-container {
        justify-content: center;
        
    }


    .title-text1{
        z-index: 5;
    }

    .title-text2{
        -webkit-text-stroke: 2px white;
    }

    .title-text2::before {
        bottom: -1em;
        background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.041) 0%,
        rgba(0, 0, 0, 0.664) 15%,
        rgba(13, 51, 19, 0.26) 25%,
        rgba(47, 216, 151, 0.274) 40%,
        rgba(16, 65, 24, 0.342) 55%,
        rgba(0, 0, 0, 0.753) 85%,
        rgba(0, 0, 0, 0.021) 100%
    );
    }

    .cyber-line {
     top: 8em;
    }

    .bottom-chaos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

     
    }

    .desc-banner {
        align-self: start;
    }

    .barcode-creds {
        align-self: flex-start;
    }
}