:root {
    --background: rgb(251, 254, 255);
    --color1: rgb(5, 5, 5);
    --color2: #022F56;
    --color3: #488DB4;
    --color4: #85C4E4;
    --color5: #CCDEE4;
    --color6: #ecf6f9;
    --color7: #294933;
    --color8: #446B5C;
    --color9: #81EC86;
}


body {
      background: 
       black;
    background-size: cover;
    padding: 0;
    margin: auto;
    font-family: "Oxanium", monospace;
}

.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width: 95vw;
    height: 95vh;
    border: 2px solid var(--color4);
    border-radius: 1em;
    background: var(--color1);
    overflow: hidden;
}



.links-container {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--color1);
    gap: 3em;
    width: 100vw;
    border-top: 2px solid var(--color9);
    border-left: 2px solid var(--color9);
    border-right: 2px solid var(--color9);
    border-radius: 0.4em;
    padding: 1.5em;
    z-index: 20;
}

.links-container a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 0.1em;
    transition: 0.3s ease-in;
    color: var(--color4);
}

.links-container a:hover {
    color: white;
}

.links {
    display: flex;
    gap: 2em;
}

.space-texture {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 0;
}


.home-text-container {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.title-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin-bottom: 2em;
    
}

.title-text {
    font-size: clamp(3rem, 12cqi, 14rem);
    color: var(--color5);
    animation: riseUp 1s ease-out forwards;
    font-weight: 600;
    
}

@keyframes riseUp {
    from {
        transform: translateY(70px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.svg2 {
    position: absolute;
    bottom: -8em;
    align-self: center;
    width: 110vw;
    filter: invert(1) brightness(2);
    opacity: 0.2;
        
}

.bottom-chaos {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    border: 2px solid white;
    height: 11vh;
    width: 100vw;
    font-family: "Geo";
    color: white;
    background: rgba(0, 0, 0, 0.966);
}

.barcode-home {
    height: 90%;
    display: flex;
    width: 40vw;
    align-items: center;
    border: 1px solid white;
}

.barcode-home img {
    width: 50vw;
    height: 80%;
    object-fit: cover;
    filter: invert(1) brightness(2) contrast(2);
}

.title2-txt {
    background: white;
    color: black;
    min-width: 10vw;
    height: 5vh;
    padding: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: 0.2em;
    
}

.credits {
    border: 1px solid white;
    width: 10vw;
    display: flex;
    flex-direction: column;
        
}

.webdev {
    border-bottom: 1px solid white;
    padding: 0.3em;
}

.webdev p {
    font-family: "Geo", monospace;
    font-weight: 800;
    margin: 0;
    padding: 0;
    line-height: 0.9;
    color: white;
    font-size: small;
}

.webdev p:nth-child(2){
    font-size: large;
}

.github-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.1em
}

.github-sec p {
    margin: 0;
}

.gitlogo {
    width: 30px;
    height: auto;
    filter: invert(1) brightness(2) contrast(2);
}

.gitname {
    display: flex;
    letter-spacing: 1px;
}

.desc-section p {
    margin: 0;
    width: 90%;
}

.desc-section {
    width: 100%;
    padding: 0.6em;
}