.nasa-imgs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;;
    height: 90%;
    margin-top: 3em;;
    overflow: hidden;
    border: 1px solid white;
}

.loading-txt {
    letter-spacing: 0.1em;
}

.title-and-search {
    position:relative;
    width: 60%;
    z-index: 1;
}

.title-and-search h2 {
    z-index: 3;
    font-size: 2.5em;
    font-weight: 200;
    color: white;
    text-shadow: 5px 5px 20px black;
    text-wrap: wrap;
}

.nasa-imgs-title {
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-image: url('/Images/grid.png');
    background-size: cover;
}


.search-bar {
    width: 100%;
    margin-bottom: 2em;
    z-index: 4;
}

.search-bar input {
    width: 70%;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1em;
    border-radius: 0.5em;
    background: var(--color1);
    color: var(--color5);
    border: 1px solid var(--color5);
    font-family: "Geo", monospace;
    
}

.search-btn {
    border-radius: 0.8em;
    padding: 0.5em;
    border: 1px solid var(--color4);
    background: white;
    color: var(--color1);
    font-size: 1em;
    letter-spacing: 0.1em;
    font-family: "Geo", monospace;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    min-width: 60vw;
    flex: 2;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow-y: auto;
    border-left: 1px solid white;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);
    height: 90%;
}

.card {
    display: flex;
    flex-direction: column;
   aspect-ratio: 1 / 1;
   max-height: 30vh;
       position: relative;
    font-family: "Geo", monospace;
    background-image: url('/Images/line-texture.jpg');
    background-size: cover;
     color: #00ff9f;
    border-radius: 0.3em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}


.card img,
.card video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h3 {
    font-size: 1.3em;
    margin: 0.5rem;
    color: white;
    z-index: 2;
}

.card p {
    font-size: 0.75rem;
    margin: 0 0.5rem 0.5rem;
    opacity: 0.75;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.grid {
    background: linear-gradient(
        to bottom,
        rgba(10, 10, 20, 0.6),
        rgba(0, 0, 0, 0.2)
    );
}



.card::before {
     content: "";
    position: absolute;
    inset: 2px;
    background: rgba(0, 0, 0, 0.3); 
    backdrop-filter: saturate(0.8); 
    z-index: 0;
}

.xp-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 998;
}

.xp-window {
  width: 500px;
  background: #c0c0c0;
  border: 2px solid white;
  z-index: 999;
  
}

.xp-title-bar {
  background: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  cursor: grab;
  font-size: 1.3em;
  font-family: "Geo", monospace;
    font-weight: bold;
    margin: 0;
    color: black;
}

.xp-title-bar button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.xp-content {
  position: relative;
  overflow: hidden;
  background: url('/Images/line-texture.jpg');
}

.xp-content::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.xp-content img {
  width: 100%;
  margin-bottom: 10px;
}

.xp-content p {
    position: relative;
    z-index: 6;
    padding: 1em;
}

.card {
  cursor: pointer;
}


@media (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr; 
    }
}

@media (max-width: 1200px) {
    .nasa-imgs-container {
        flex-direction: column; 
    }

    .grid {
        width: 100%;
        border-left: none;
        border-top: 1px solid white;
    }

    .title-and-search {
        width: 100%;
    }
}