.nasa-imgs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 90%;
    margin-top: 3em;
    overflow: hidden;
    border: 1px solid white;
}

.loading-txt {
    letter-spacing: 0.1em;
}

.title-and-search {
    position: relative;
    width: 60%;
    z-index: 1;
}

.title-and-search h2 {
    z-index: 3;
    font-size: 3.5em;
    font-weight: 200;
    margin: 0;
    color: white;
    text-shadow: 5px 5px 20px black;
    text-wrap: wrap;
}

.nasa-imgs-title {
    height: 10em;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding-top: 1em;
    background-image: url('/Images/grid.png');
    background-size: cover;
}

.search-bar {
    width: 100%;
    
    z-index: 4;
}

.search-bar input {
    width: 70%;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1.1em;
    letter-spacing: 1px;
    border-radius: 0.2em;
    background: var(--color1);
    color: var(--color5);
    border: 1px solid var(--color5);
    font-family: "Geo", monospace;
}

.search-btn {
    border-radius: 0.3em;
    padding: 0.5em;
    border: 1px solid var(--color3);
    background: white;
    color: var(--color1);
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-family: "Geo", monospace;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: start;
    align-content: start;
    justify-content: center;
    align-content: center;
    min-width: 50vw;
    flex: 2;
 padding: 2rem 1rem;
    margin-left: 1rem;
    overflow-y: auto;
    border-left: 1px solid white;
    
    height: 100%;
    position: relative;
}


.grid::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/Images/space-texture.jpg');
    opacity: 0.4; 
    z-index: 0;
}

.card {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    max-height: 30vh;
    position: relative;
    font-family: "Geo", monospace;
    background-image: url('/Images/line-texture.jpg');
    background-size: cover;
    border-radius: 0.3em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.card img,
.card video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h3 {
    font-size: 1.3em;
    margin: 0.5rem;
    color: white;
    z-index: 2;
    position: relative;
}


.card::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: rgba(0, 14, 27, 0.377);
    backdrop-filter: saturate(0.8);
    z-index: 0;
}

.card:hover::before {
    background: transparent;
    backdrop-filter: saturate(1);
}


.xp-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 998;
}

.xp-window {
    width: 500px;
    background: #c0c0c0;
    border: 2px solid var(--color5);
    border-radius: 0.3em;
    z-index: 999;
}


.xp-title-bar {
    background: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    cursor: grab;
    font-size: 1.3em;
    font-family: "Geo", monospace;
    font-weight: bold;
    color: black;
}

.xp-title-bar button {
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}


.xp-content {
    position: relative;
    overflow: hidden;
    background-image: url('/Images/line-texture.jpg');
}


.xp-content::before {
    position: absolute;
    inset: 0;
    content: "";
    background: rgba(0, 11, 20, 0.959);
    z-index: 1;
}


.xp-content::after {
    position: absolute;
    inset: 0;
    content: "";
    background-image: url('/Images/line-texture.jpg');
    background-size: cover;
    mix-blend-mode: overlay;
    opacity: 0.6;
    z-index: 10; 
    pointer-events: none;
}


.xp-content img {
    width: 100%;
    margin-bottom: 10px;
    position: relative; 
    z-index: 3;
}


.xp-content p {
    position: relative;
    line-height: 1.4;
    z-index: 6;
    padding: 1em;
}


@media (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1200px) {
    .nasa-imgs-container {
        flex-direction: column;
    }

    .grid {
        width: 100%;
        border-left: none;
        border-top: 1px solid white;
    }

    .title-and-search {
        width: 100%;
    }
}